/bin/
/target/
.classpath
.project
.settings/
*.log
*.class
.DS_Store
*.iml
.idea/
# Gradle build folders
.gradle/
build/

# VSCode settings
.vscode/

# Temp files
*.tmp

# Archivos del sistema
Thumbs.db

# Proteger el propio .gitignore (esto es opcional)
!.gitignore